body {
  margin: 0;
  padding-bottom: 50px;
}

.hero {
  background-image: url(love-shot-hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 200px;
  width: 100%;
}

.home-page h1 {
  color: white;
  font-size: 300%;
  margin-top: 0;
  padding-top: 5px;
  text-align: center;
}

h1 {
  font-size: 500%;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  margin: 10px 0 0 0;
}

h1, h2, h3, p, li {
  font-weight: 300;
}

p, li, a {
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 10px 0 0 0;
}

main, header nav {
  max-width: 960px;
  margin: auto;
}

header {
  background-color: black;
  min-height: 50px;
  text-align: center;
}

header nav a {
  color: white;
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-decoration: none;
}

.site-name {
  display: block;
  font-size: 150%;
  text-decoration: none;
  color: white;
  padding-top: 8px;
}

.photo {
  max-width: 100%;
}

.photos-page main {
  text-align: center;
}

.home-page main p {
  max-width: 500px;
}

.map {
  min-height: 240px;
  width: 100%;
}

@media (min-width: 481px) {
  .home-page h1 {
    font-size: 500%;
    margin: auto;
    padding-top: 120px;
    max-width: 960px;
  }

  .span-1 {
    box-sizing: border-box;
    float: left;
    padding: 0 15px;
  }

  .span-1 {
    width: 50%;
  }

  .hero {
    min-height: 470px;
  }

  .map {
    min-height: 600px;
  }

  header {
    text-align: left;
  }

  header nav {
    display: inline-block;
    padding-top: 8px;
    float: right;
    margin-right: 20px;
  }

  header .site-name {
    float: left;
    font-size: 100%;
    padding-top: 12px;
    padding-left: 10px;
  }

  .home-page .site-name {
    display: none;
  }
}

@media (max-width: 480px) {
  main {
    margin: 0 10px;
  }
}
